
<h1>{{username}}'s Bookings</h1>
<form="post">
    <ul>
        <li>
        {{#each items}}
            <div>Status: {{this.bookingStatus}}</div>
            <div>Room: {{this.roomId}}</div>
            <div>Size: {{this.roomSize}}</div>
            <div>Beds: {{this.numBeds}} {{this.bedSize}}</div>
            <div>Total Price: ${{this.totalPrice}}</div>
            <div>Faces: {{this.facesDirection}}</div>
            <div>
                {{#if this.hasBalcony}}Has Balcony
                {{else}}No Balcony
                {{/if}}
            </div>
            <div>Services: {{this.services}}</div>
            <div>Booked From: {{this.startDate}} - {{this.endDate}}</div>
             <button type="submit" name="bookings" value="{{this.bookingId}}">
                    Cancel
            </button> 
    </li>
    {{/each}}
    </ul>
    
    <br>
    <br>
</form>

<form method="post" action="back_customer">
    <input value="Back" type="submit">
</form>
