<h1>Payment Summary</h1>

<form method="post" class="payment-view">
    <div class="form-view">
        <div class="form-row">
            <span>Room Price:</span>
            <span>${{price}}</span>
        </div>
        <div class="form-row">
            <span>Extra Services:</span>
            <span>${{service}}</span>
        </div>
        <div class="form-row">
            <span>Subtotal:</span>
            <span>${{subtotal}}</span>
        </div>
        <div class="form-row">
            <span>Tax:</span>
            <span>${{tax}}</span>
        </div>
        <div class="horizontal-line"></div>
        <div class="form-row">
            <span>Total:</span>
            <span>${{total}}</span>
        </div>
        <div class="horizontal-line"></div>
        <div class="form-row">
            <label for="owner">Card Owner</label>
            <input name="owner" type="text" placeholder="e.g. John Doe">
        </div>
        <div class="form-row">
            <label for="owner">Card Number</label>
            <input name="credit_num" placeholder="XXXXXXXXXXXXXXXX">
        </div>
        <div class="form-row">
            <label for="owner">CSV</label>
            <input name="csv" placeholder="XXX">
        </div>
        <div class="form-row">
            <label for="owner">Expiry</label>
            <input name="exp" type="text" placeholder="mm-yy">
        </div>
        <div class="form-row">
            <button name="back" value="Back" type="submit">Back</button>
            <button name="pay" value="Pay Now" type="submit">Pay</button>
        </div>
        <div class="{{status}}-row">
            <span>Error:</span>
            <span>{{error}}</span>
        </div>
    </div>
</form>