<link rel="stylesheet" type="text/css" href="../public/stylesheets/searchView.css" />
<section class="search-view">
    <h1>
        Search For Rooms
    </h1>
    <form method="post" action="back_customer">
        <button name="Back" type="submit">Back</button>
    </form>
    <div class="search-view-content">
        <form method="post" class="search-view-form">
            <div class="form-row">
                <label for="numBeds">Number of Beds:</label>
                <input name="numBeds" type="number" min="1" value="1" class="small-input">
            </div>

            <div class="form-row">
                <label for="bedSize">Bed Size:</label>
                <select name="bedSize" class="small-input">
                    <option>King</option>
                    <option selected="selected">Queen</option>
                    <option>Double</option>
                    <option>Twin</option>
                </select>
            </div>

            <div class="form-row">
                <label for="roomSize">Room Size:</label>
                <select name="roomSize" class="small-input">
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                    <option>Penthouse</option>
                </select>
            </div>

            <div class="form-row">
                <label for="hasBalcony">Balcony:</label>
                <select name="hasBalcony" class="small-input">
                    <option>Any</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>

            <div class="form-row">
                <label for="facesDirection">Faces Direction:</label>
                <select name="facesDirection" class="small-input">
                    <option>Any</option>
                    <option>North</option>
                    <option>East</option>
                    <option>South</option>
                    <option>West</option>
                </select>
            </div>

            <div class="form-row">
                <label for="maxPrice">Maximum Price:</label>
                <input name="maxPrice" type="number" min="0" class="small-input">
            </div>

            <div class="form-row">
                <label for="startDate">From:</label>
                <input name="startDate" type="date" required>
            </div>

            <div class="form-row">
                <label for="endDate">To:</label>
                <input name="endDate" type="date" required>
            </div>

            <div class="form-row">
                <div></div>
                <button type="submit" name="search">Search</button>
                <div></div>
            </div>


        </form>

        </br>
        <div class="results-container">
            {{#each results}}
            <form method="POST" action="book_room" class="result-card">
                <div class="result-card-title">Room {{this.roomId}}</div>
                <div class="result-card-line">
                    <div>Size:</div>
                    <div>{{this.roomSize}}</div>
                </div>
                <div class="result-card-line">
                    <div>Beds:</div>
                    <div>{{this.numBeds}} {{this.bedSize}}</div>
                </div>
                <div class="result-card-line">
                    <div>Base Price:</div>
                    <div>${{this.maxPrice}}</div>
                </div>
                <div class="result-card-line">
                    <div>Faces:</div>
                    <div>{{this.facesDirection}}</div>
                </div>
                <div class="result-card-line">
                    {{#if this.hasBalcony}}Has Balcony
                    {{else}}No Balcony
                    {{/if}}
                </div>
                <div class="result-card-line">
                    <div></div>
                    <button type="submit" name="book" value="{{this.roomId}}">Book</button>
                    <div></div>
                </div>
            </form>
            {{/each}}
        </div>
    </div>
</section>